extends ../layout

block content
  main.box.item
    div.box__header
      h2= title
    
    p= description

    div.item__details
      p Price: #{price}
      p Category: #{category.name}
      p Quantity: #{quantity}

    if image.data
      img.item__image(src=`data:${image.contentType};base64,${image.data.toString('base64')}`)

    div.links
      a.link(href=url + '/update') Update
      a.link(href=url + '/delete') Delete