extends ../layout

block content
  h1= title
  p= description
  p Price: #{price}
  p Category: #{category.name}
  p Quantity: #{quantity}

  if image
    img(src=`data:${image.contentType};base64,${image.data.toString('base64')}`)

  a(href=url + '/update') Update
  a(href=url + '/delete') Delete