extends ../layout

block content
  main.box.form
    h1 #{title}

    form(method='POST' action='')
      div.form__field
        label(for='name') Name:
        input#name(type='text', name='name', value=(category===undefined ? '' : category.name))
        -
          let nameError;
          if (errors) {
            nameError = errors.find(error => error.param === 'name');
          }
        if nameError
          div #{nameError.msg}

      div.form__field.form__field--column
        label(for='description') Description:
        textarea#name(name='description' rows=5) #{category===undefined ? '' : category.description}
        -
          let descriptionError;
          if (errors) {
            descriptionError = errors.find(error => error.param === 'description')
          }
        if descriptionError
          div #{descriptionError.msg}

      button.button(type='submit') #{title}
