extends ../layout

block content
  main.box.category
    div.box__header
      h2= title
      p= description

    ul.item_list
      - items.sort((a, b) => a.name.toUpperCase().localeCompare(b.name.toUpperCase()));

      each item in items
        li.item_icon
          if item.image.data
            a(href=item.url)
              img.icon(src=`data:${item.image.contentType};base64,${item.image.data.toString('base64')}`)
          else
            a(href=item.url)
              div.placeholder

          span.item__tooltip #{item.name}

    div.links
      a.link(href=url + '/update') Update
      a.link(href=url + '/delete') Delete